<md-card class="comic-card" [ngClass]="{'opened': opened}">
  <div class="comic-card__image">
    <img src="{{data.thumbnail.path}}.{{data.thumbnail.extension}}" md-card-image />
  </div>
  <div class="comic-card__text">
    <md-card-title class="comic-card__title">
      {{data.title}}
    </md-card-title>
    <md-card-content class="comic-card__content">
      <p class="comic-card__description">
        {{data.description}}
      </p>
      <p class="comic-card__authors" *ngIf="opened">
        <strong>Creators:</strong>
        <span *ngFor="let creator of data.creators.items; let i = index">
          {{creator.name}}{{data.creators.available == (i + 1) ? '' : ', '}}
        </span>
      </p>
    </md-card-content>
  </div>
</md-card>
