.comic-card {
    cursor: pointer;
}
.comic-card.opened {
    cursor: auto;
    display: flex;
    overflow: auto;
}

.comic-card.opened .comic-card__image {
    height: auto;
}

.comic-card.opened .comic-card__content {
    display: block;
}

.comic-card:not(.opened) .comic-card__description {
    display: -webkit-box;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.comic-card__authors {
    margin-bottom: 16px;
}

@media only screen and (max-width: 500px) {
    .comic-card.opened {
        display: block;
    }
    .comic-card__image {
        height: 35vh;
        overflow: hidden;
    }
    .comic-card {
        padding: 0;
    }
    .comic-card__text {
        padding: 24px 16px;
    }
}

@media only screen and (min-width: 500px) {
    .comic-card__content {
        display: none;
    }
    .comic-card img {
        height: calc(100% * (1/1.5) - 10px - 1px);;
    }

    .comic-card.opened .comic-card__image {
        flex: 40;
    }

    .comic-card.opened .comic-card__image img{
        margin: 0;
        height: auto;        
        width: 100%;
    }

    .comic-card.opened .comic-card__text {
        flex: 60;
        padding: 24px;
    }
}

@media only screen and (min-width: 960px) {
    .comic-card.opened {
        margin: 0 10vw 5vh;
    }
}

@media only screen and (min-width: 1266px) {
    .comic-card.opened {
        margin: 0 20vw 5vh;
    }
}
