#comics-wrapper__items app-comic {
    transition: all 0.5s;
}

#comics-wrapper__items app-comic.opened {
    display: flex;
    filter: grayscale(0%);
    margin: 0;
    position: fixed;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    z-index: 1;
}

#comics-wrapper__filter {
    padding: 30px 10px 15px;
}

@media only screen and (min-width: 500px) {
    #comics-wrapper__items {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-content: flex-end;
        align-content: flex-end;
    }
    #comics-wrapper__items app-comic {
        display: flex;
        margin: 5px;
        filter: grayscale(50%);
        transition: filter 0.5s;
    }
    #comics-wrapper__items app-comic:hover {
        filter: grayscale(0%);
    }
    #comics-wrapper__filter {
        padding: 15px 10px;
    }
}
@media only screen and (max-width: 720px) and (min-width: 500px) {
    #comics-wrapper__items app-comic {
        flex-grow: 1;
        width: calc(100% * (1/2) - 10px - 1px);
    }
}

@media only screen and (max-width: 960px) and (min-width: 720px) {
    #comics-wrapper__items app-comic {
        flex-grow: 1;
        width: calc(100% * (1/3) - 10px - 1px);
    }
}

@media only screen and (min-width: 960px) {
    #comics-wrapper__items app-comic {
        flex-grow: 1;
        width: calc(100% * (1/4) - 10px - 1px);
    }
}

@media only screen and (min-width: 600px) {
    #comics-wrapper__items app-comic.opened {
        top: 64px;
    }
}

@media only screen and (min-width: 1266px) {
    #comics-wrapper {
        margin: 20px 100px;
    }
}
