<app-layout>

  <md-toolbar class="md-toolbar--fixed" *ngIf="openedComic != 0" color="accent">
    <button md-icon-button (click)="closeComic()">
      <md-icon>arrow_back</md-icon>
    </button>
  </md-toolbar>

  <div id="comics-wrapper">
    <div id="comics-wrapper__filter">
      <md-select
        placeholder="Period"
        [(ngModel)]="periods.selected"
        (change)="changePeriod()"
        color="accent"
      >
        <md-option *ngFor="let period of periods.available" [value]="period.value">
          {{ period.name }}
        </md-option>
      </md-select>
    </div>
    <div id="comics-wrapper__items">
      <app-comic
        *ngFor="let comic of comics"
        [data]="comic"
        [opened]="comic.id == openedComic"
        [ngClass]="{'opened': comic.id == openedComic}"
        class="mat-app-background"
        (click)="openComic(comic.id)">
      </app-comic>
    </div>
    <h1 *ngIf="!isFetchingData && comics.length === 0">
      No comics for this period. =[
    </h1>
  </div>

  <div class="infinite-spinner" *ngIf="isFetchingData && comics.length > 0">
    <md-spinner color="accent"></md-spinner>
  </div>  

  <div class="loading-spinner" *ngIf="isFetchingData && comics.length === 0">
    <md-spinner color="accent"></md-spinner>
  </div>  

</app-layout>
