/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
}

.md-toolbar--fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}

.infinite-spinner {
  display: flex;
  justify-content: center;
}

.infinite-spinner md-spinner {
  width: 36px;
}
